<!-- DataTables -->
<link rel="stylesheet" href="plugins/datatables/dataTables.bootstrap.css">
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="plugins/datepicker/datepicker3.css">
<style type="text/css">
.action{
  margin-right: 2px;
}
.hide-me{
  display: none;
}
</style>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Oumbox
    <small>Gestion des posts</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#main"><i class="fa fa-dashboard"></i>Tableau de bord</a></li>
    <li class="active">Gestion des posts</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Liste des posts</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div style="margin-bottom:20px;">
            <button type="submit" id="add" class="btn btn-primary" data-type="add" data-toggle="modal" data-target="#add_parent">Ajouter un post</button>
          </div>
          <table id="table_posts" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Title</th>
              <th>Date de publication</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
              
            </tbody>
            <tfoot>
            <tr>
              <th>Title</th>
              <th>Date de publication</th>
              <th>Action</th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
  
<!-- Add content to the popup -->
<div id="loading-image" class="row">
  <div class="main col-md-5 col-md-offset-6">
    <div id="cssload-pgloading">
      <div class="cssload-loadingwrap">
        <ul class="cssload-bokeh">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>
<!-- /.content -->

<!-- DataTables -->
<script src="plugins/datatables/jquery.dataTables.min.js"></script>
<script src="plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- bootstrap datepicker -->
<script src="plugins/datepicker/bootstrap-datepicker.js"></script>

<script src="dist/js/validator.min.js"></script>
<script src="dist/js/gestionBlog.js"></script>
<script type="text/javascript">
</script>